:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
}

body {
    color: #000;
    text-align: center;
}

a {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    gap: 1rem;
    text-decoration: none;
}

button {
    background-color: #111111;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    padding: 1rem 1rem;
    text-align: center;
}

footer p {
    color: var(--blue-grey-200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    margin: 0;
    text-align: center;
}

li {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

h1 {
    font-family: Libre Baskerville, serif;
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: lighter;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
}

header,
footer {
    background-color: #111111;
    color: #FFFFFF;
    padding: 2rem 2.5rem;
}

.header-flex,
.footer-flex {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header-flex img {
    height: 3.6rem;
    width: 5.7rem;
}

.hero,
.art-gallery {
    background-color: var(--blue-grey-50);
    padding: 2rem;
}

.inner-container {
    margin: auto;
    max-width: 1024px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
}

.passion,
.second-blockquote {
    padding: 2rem;
}

.redesigned {
    background-color: #CFD8DC;
    padding: 1rem;
}


.redesigned h3,
.redesigned ul,
.art-gallery p,
.art-gallery figcaption,
.art-gallery h3,
.footer-container p,
.cultural-exchange p,
.cultural-exchange h2,
.features {
    text-align: left;
}

section img {
    border-radius: 0.5rem;
    height: auto;
    margin: 1rem 0;
    max-width: 100%;
}

span {
    font-size: 3rem;
    margin-top: 2rem;
}

.subscribe,
.features {
    background-color: var(--blue-grey-900);
}

.blockquote,
.cultural-exchange {
    background-color: #78909C;
    color: white;
    padding: 2rem;
}

.features {
    padding: 2rem 2rem;
    color: #FFFFFF;
    text-align: left;
}

.subscribe {
    padding: 2rem 2rem;
}

.subscribe-box {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 2rem;
}

@media screen and (min-width: 360px) {
    .footer-brand {
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: left;
        width: calc((100% / 3) - (2rem / 3));
    }

    .footer-column a {
        color: #fff;
        font-size: 0.9rem;
        text-decoration: none;
    }

    .footer-column h4 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .footer-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-header {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .footer-header h1 {
        margin-bottom: 0.5rem;
    }

    .footer-header img {
        height: auto;
        margin: 0.5rem 0;
        width: 5rem;
    }

    .footer-nav {
        display: flex;
        gap: 3rem;
        justify-content: center;
        margin-bottom: 2rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .commercial-img {
        order: 1;
    }

    .commercial-text {
        order: 2;
    }

    .flex-container,
    .flex-head {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        text-align: left;
    }

    .footer-brand {
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    .footer-brand h1 {
        margin: 0;
    }

    .footer-brand img {
        height: auto;
        width: 5rem;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: left;
    }

    .footer-container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .footer-disclaimer {
        margin-top: 2rem;
        text-align: center;
    }

    .footer-header {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        text-align: left;
    }

    .footer-header p {
        margin-top: 1rem;
    }

    .footer-nav {
        display: flex;
        flex: 1;
        gap: 3rem;
        justify-content: flex-end;
    }

    .md-flex {
        width: calc((100% / 2) - 1rem);
        align-items: center;
    }

    .md-flex img {
        border-radius: 0.5rem;
        width: 100%;
        height: fit-content;
    }

    .md-flex p {
        text-align: left;
    }

    .features h2,
    .cultural-exchange h2 {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .commercial-text {
        order: -1;
    }

    .flex-md {
        width: calc((100% / 3) - 2rem);
    }

    .header-flex,
    .footer-flex {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }

}